@using ECommerce_Application.ViewModels
@model ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-header text-center">
                    <h3>Forgot Password</h3>
                </div>

                <div class="card-body">

                    <form asp-action="ForgotPassword" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">

                            <label asp-for="Email" class="form-label"></label>

                            <input asp-for="Email" class="form-control" placeholder="Enter your email" />

                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>

                        <button class="btn btn-primary w-100">
                            Send OTP
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}